[Desktop Entry]
Type=Application
Name=Compressi.ty
Comment=The only compression tool you’ll ever need!
Exec=compressity
Icon=compressi.ty
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
