[Desktop Entry]
Type=Application
Name=Compressi.ty
Comment=The only compression tool you’ll ever need!
Exec=compressity
Icon=io.github.Alpinnnn.Compressity
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
StartupWMClass=compressity
